<div class="myhome">
    <div class="myhome1">
        <br><br>
        <div class="container-fluid">
            <h1 class="text-center fadeIn">WELCOME TO TAMU RECIPES</h1>
            <br>
            <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 " type="text" placeholder="Search Recipe"
                    aria-label="Search">
            </form>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 style="font-size: 45px;">RECIPES</h1>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div *ngFor="let recipe of recipes" class="col-md-4 col-sm-6  p-2">
            <div class="card h-100">
                <img src="{{recipe.image}}" class="card-img-top" style="height: 400px;" />
                <div class="card-body py-1 text-center">
                    <h5>{{ recipe.name }} </h5>
                    <!-- <p class="m-0 text-muted">{{recipe.country}}</p> -->
                    <a [routerLink]="['recipe', recipe.id]" class="btn btn-sm btn-danger">
                        View Recipe
                    </a>
                <p></p>
                </div>
                <app-socialshare class="text-center" [recipeId]="recipe.id"></app-socialshare>
            </div>
        </div>

    </div>
</div>

<footer>
    <div class="footer-copyright text-center py-3">© Tamures 2020 Copyright:
    </div>
</footer>