.my-container{
  background: url("https://cdn.pixabay.com/photo/2017/11/16/18/51/kagyana-2955466_960_720.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


}
.my-container {

}
.my-container .after {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
}
.my-container:hover .after {
  display: block;
  background: rgba(0, 0, 0, .6);
}

.container {
  width: 600px;
  height: 420px;
  position: relative;
  perspective: 800px;
  margin: 3rem auto;

}

#options {
	margin: 0px auto;
  margin-top: -20px;
	width: 200px;
	text-align: center;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card figure {
  margin: 0;
  position: absolute;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 3px rgba(0,0,0,.3);
  backface-visibility: hidden;
}

.logo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 70px;
  width:70px;
}

.back-logo {
  position: absolute;
  top: 1rem;
  left: 4rem;
  height: 50px;
  width: 0px;
  transform: rotateY(180deg);
}

.logo img, .back-logo img {
  height: 50px;
}

#card .front {
  background: rgb(225,225,255,0.9);

}
#card .back {
  width: 70%;
  background:rgb(225,225,255,0.9);
  transform: rotateY( 180deg );

}

#card.flipped {
  transform: rotateY( 180deg );
}

@keyframes powerFlip {
  from {
    box-shadow: 5px 10px 5px rgba(0,0,0,0);
  }

  50% {
    transform: translateY(-10px);
    box-shadow: 0px 4px 20px 20px rgba(142, 68, 173,0.1);
  }
}

@keyframes powerFlipTwo {
  from {
    box-shadow: 5px 10px 5px rgba(0,0,0,0);
  }

  50% {
    transform: translateY(-10px);
    box-shadow: 0px 4px 20px 20px rgba(142, 68, 173,0.1);
  }
}


#flip {
  animation-name: powerFlipTwo;
  animation-timing-function: easeIn;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-iteration: 1;
  height: 30px;
  width: 200px;
 /* background: rgb(255,69,0)	;*/
 background: black;
  border: none;
  font-size: 1rem;
  color:white;
  transition: all 150ms;
  cursor: pointer;
}

#flip:hover {
  background:red;
}

#flip.powered {
  animation-name: powerFlip;
  animation-timing-function: easeIn;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-iteration: 1;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin-bottom: 1rem;
}

.front .form-side {
  padding-top: 20px;
  padding-left: 1rem;
  width: 40%;
  height: 100%;
}

.back .form-side {


  width: 500px;
  height: 200px;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  height: 100%;
}


.front .photo-side {
  width: 50%;
  height: 100%;
 /* background: url('https://bit.ly/3dg0QCm');*/
 background: url('https://bit.ly/30Oe2Mi');
  background-size: cover;
  background-position: right;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.back .photo-side {
  width: 50%;
  height: 100%;
  /*background: url('https://bit.ly/3dg0QCm');*/

  background-size: cover;
  background-position: left;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

}

label {
  color:black;
 font-weight: 500;
font-size: x-large;
  font-size: 90%;
  margin-bottom: 5px;
}
h1{
  color:black;
  font-weight: 800;
}

.form input {
  height: 20px;
  padding-left: 3px;
}

.lgn-btn {
  background:red;
  color:white;
  border: none;
  height: 25px;
  cursor: pointer;
}

.terms a {
  font-size:small;
  font-weight: 400;
  color: rgb(41, 55, 185);
  text-decoration: none;

}

#message{
  color:white;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


#message{
  color:white;
}
input[type=text], select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
input[type=password], select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  
}



.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);


  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color:black;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color:black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background:red;
  color: #fff;
  border-radius: 5px;

}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,black);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent,black);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,black);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent,black);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
