<div class="my-container">
  <app-nav></app-nav>
  <div class="container">
    <a href="#" class="pure-button sort1"><button class="sortFav">Sort by study first <i class="fa fa-arrow-down"></i></button></a>
    <button class="newItem">Add new list item</button>



    <ol>
      <a href='javascript:void(0)' class="reveal"><li class="item">list item<span class="code hide">code</span></li></a>

      <li class="item">list item<br>
        <span class="details hide">
          <ol>
            <li>Manager Menu</li>
            <li>Return</li>
            <li>Reason: Spoiled etc.</li>
            <li>Scan return item</li>
            <span class="details">
              <a href='javascript:void(0)' class="reveal">--</a>
            </span>
</ol>
        </span>

      </li>

    </ol>
</div>
