


<div class="container">
  <div class="row">
<div class="col-md-7 d-flex  justify-content-center">
  <div class="content-section">
      <h2>Sign up with</h2>

      <ul class="list-group">
          <li class="list-group-item list-group-item-light">
            <a href="https://twitter.com/minimalmonkey" class="icon-button twitter">  <img  src="https://bit.ly/2Akve18" width="30" style="border-radius:30%;"><span></span></a>
           </li>
           <p>twitter</p>

          <li class="list-group-item list-group-item-light"><a href="https://facebook.com" class="icon-button facebook"><img  src="https://bit.ly/3eK9V80" width="30" style="border-radius:30%;"><span></span></a>
            </li>
           <p>facebook</p>

          <li class="list-group-item list-group-item-light">
            <a href="https://plus.google.com" class="icon-button google-plus"><img  src="https://bit.ly/2Zr5vMO" width="35" style="border-radius:35%;"><span></span></a>

          </li>
          <p>google</p>
      </ul>

  </div>




  </div>
</div>
  </div>
