
<label class="bookmark">
  <input class="bookmark__toogle" type="checkbox" />
  <div class="bookmark__stroke"></div>
  <div class="bookmark__fill"></div>

</label>




<h1>Social Media Sharing: Automated Link Creator<span>(jQuery)</span></h1>

<div class="links">
  <ul>
    <li class="social-share facebook">Share on Facebook</li>
    <li class="social-share twitter">Share on Twitter</li>
    <li class="social-share linkedin">Share on LinkedIn</li>
  </ul>
</div>

<div class="notes">
  <p>This sample HTML and JavaScript can be used to create links that share the current page on either Facebook, Twitter, and LinkedIn. Usage notes:</p>
  <ul>
    <li><p>The JavaScript function <code>setShareLinks()</code> should be called after the DOM has loaded.</p></li>
    <li><p>This function creates sharing links on any object in the HTML that has the class <code>social-share</code> and the name of a social media service – see above HTML for an example.</p></li>
    <li><p>Setting the variable <code>params</code> to an empty string in the JavaScript function <code>socialWindow()</code> will cause these links to launch in a new window or tab rather than a pop-up.</p></li>
    <li><p><a href="https://codepen.io/adamcoti/pen/qrobLZ" target="_blank">This routine is also available using vanilla JavaScript</a>.</li>
  </ul>
</div>





