<nav>
    <ul class="sidebar__list--menu mt-5">
      <img src="https://bit.ly/30TYTsY"style="border-radius: 50%; height:100px; width:100px;" alt="">
      <li style="align-items: center;"><a   href="#!" class="active"><i class="fa  mr-2" aria-hidden="true"></i>HOME</a></li>
      <li><a href="#!"><i class="fa fa-video-camera mr-2" aria-hidden="true"></i>LOGIN</a></li>
      <li><a href="#!"><i class="fa  mr-2" aria-hidden="true"></i>REGISTER</a></li>
      <li><a [routerLink]="['/add-recipe']"><i class="fa  mr-2" aria-hidden="true"></i>SUBMIT RECIPE</a></li>
    </ul>
  </nav>
  