<nav>
    <ul class="sidebar__list--menu mt-5">
      <img src="https://bit.ly/30TYTsY"style="border-radius: 50%; height:100px; width:100px;" alt="">
      <!-- <li style="align-items: center;"><a   href="#!" class="active"><i class="fa fa-cube mr-2" aria-hidden="true"></i>My Dashboard</a></li>
      <li><a href="#!"><i class="fa fa-video-camera mr-2" aria-hidden="true"></i>My Tutorial</a></li>
      <li><a href="#!"><i class="fa fa-list mr-2" aria-hidden="true"></i>Member</a></li>
      <li><a href="#!"><i class="fa fa-houzz mr-2" aria-hidden="true"></i>History</a></li> -->
      <li> <a routerLink="/profile" routerLinkActive="active">Edit Profile</a></li>
      <!-- <li> <a routerLink="/update" routerLinkActive="active">Add Recepie</a> </li>
      <li> <a routerLink="/view" routerLinkActive="active">Profile</a> </li> -->

    </ul>
  </nav>
