<nav >
  <ul class="sidebar__list--menu mt-5">
    <img src="https://bit.ly/30TYTsY"style=" display: block; margin-left: auto; margin-right: auto; width: 50%;" alt="logo">
    <h1>My:</h1>
    <li style="align-items: center;"><a   href="/homep" class="active"><i  aria-hidden="true"></i> Home</a></li>

    <li>  <a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    <li>  <a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li> <a routerLink="/save" routerLinkActive="active">Favorites</a></li>
    <li>    <a routerLink="/filter" routerLinkActive="active">Search</a>   </li>
  </ul>
</nav>
