<div class="links">
    <p class="list-inline-item">Share:</p>
    <ul style="list-style: none;">
        
        <li class="list-inline-item">
            <a target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u={{currentLocation}}/recipe/{{recipeId}}&src=sdkpreparse%22%20class%3D%22fb-xfbml-parse-ignore "
                class="card-link"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
            <a href="https://twitter.com/share?ref_src={{currentLocation}}/recipe/{{recipeId}}" class="card-link"><i
                    class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
        </li>

        <li class="list-inline-item">
            <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
        </li>
        <li class="list-inline-item">
            <a href="mailto:?subject=Hello, check this recipe out.&amp;body={{currentLocation}}/recipe/{{recipeId}}"
                title="Share by Email">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>